fastapi
uvicorn[standard]
sqlalchemy
requests
paho-mqtt
redis
asyncpg
slowapi
greenlet
aiosqlite
pydantic
python-dotenv
msgpack
passlib[bcrypt]
python-multipart
psycopg2-binary





